@import "../../scss/mixins", "../../scss/variables";

.drink-card {
  display: flex;
  height: $card-height;
  border-radius: 10px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);

  @include tablet-ls {
    flex-direction: column;
    height: 100%;
    background-color: $clr-white;
  }

  &__link {
    text-decoration: none;
  }

  &__image {
    width: $card-height;
    height: auto;
    border-radius: 10px 0px 0px 10px;

    @include tablet-ls {
      width: 100%;
      height: auto;
      border-radius: 10px 10px 0px 0px;
    }
  }

  &__information {
    position: relative;
    background: $clr-white;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    width: 100%;
    overflow: hidden;

    @include tablet-ls {
      padding: 15px;
      border-radius: 0px 0px 10px 10px
    }
  }

  &__header {
    @include flex-column;
    gap: 5px;
  }

  &__name {
    @include text-shorten();
    color: $clr-dark;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }

  &__category {
    color: $clr-dark;
    font-weight: 600;
    font-size: 14px;
  }

  &__type {
    color: $clr-grey;
    font-weight: 200;
    font-size: 14px;
  }

  &__fav-icon {
    @include position(absolute, auto, 10px, 10px, auto);
    font-size: 24px;
    color: $clr-danger;
  }
}
