@import "../../../scss/mixins", "../../../scss/variables";

.tablet-navigation {
  display: none;

  @include tablet-ls {
    display: flex;
    gap: 30px;
    margin-top: 5px;

    &__link {
      text-decoration: none;
      color: $clr-white;
      padding-bottom: 5px;
      text-transform: capitalize;
      border-bottom: 1px solid transparent;
      transition: all 0.2s;

      &:hover,
      &.active {
        border-bottom: 1px solid $clr-white;
      }
    }
  }
}