@import "../../scss/mixins", "../../scss/variables";

.drink-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 500px));
  grid-gap: 15px;
  margin-bottom: 20px;

  @include tablet-ls {
    grid-template-columns: repeat(3, minmax(250px, 280px));
    margin-top: 5px;
    margin-bottom: 25px;
  }
}