@import "../../scss/mixins", "../../scss/variables";

.app-header {
  @include flex-end;
  position: relative;
  height: $header-height;
  background-color: $clr-primary;
  box-shadow: $header-shadow;
  z-index: z-index(header);

  &__logo {
    @include position(absolute, auto, auto, auto, 15px);
    color: $clr-white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  @include tablet-ls {
    @include flex-center;
  }
}
